* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(./assets/bg-mobile-dark.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  background: url(./assets/bg-mobile-dark.svg) no-repeat top center/cover;
}
body * {
  font-family: 'Inter', sans-serif;
  color: #FFFFFFFF;
}
#container {
  border: 2px solid white;
  width: 360px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 8px;
}