* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --bg-social-hover: rgba(255, 255, 255, 0.2);
  --bg-ul: rgba(255, 255, 255, 0.1);
  --bg-ul-hover: rgba(255, 255, 255, 0.05);
  --bg-url: url(imagens/mobile/background\ dark.jpg);
  --border-ul: rgba(255, 255, 255, 0.5);
  --btn-url: url(imagens/moon-stars.svg);
  --text-color: white;
}


body {
  background: url(./assets/bg-mobile-dark.svg) no-repeat top center/cover;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

body * {
  color: #FFFFFFFF;
  font-family: 'Inter', sans-serif;
}

#container {
  border: 2px solid white;
  margin: 56px auto 0px;
  width: 360px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 120px;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

ul li a {
  -webkit-backdrop-filter: blur(8px);
  align-items: center;
  backdrop-filter: blur(4px);
  background: var(--bg-ul);
  border: 1px solid var(--border-ul);
  border-radius: 8px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--bg-ul-hover);
  border: 1.5px solid var(--text-color);
}
