@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* GRAY */
  --gray-50: #eaeaea;
  --gray-100: #bebebf;
  --gray-200: #9e9ea0;
  --gray-300: #727275;
  --gray-400: #56565a;
  --gray-500: #2c2c31;
  --gray-600: #28282d;
  --gray-700: #1f1f23;
  --gray-800: #18181b;
  --gray-900: #121215;
  /* PURPLE */
  --purple-50: #f3eefc;
  --purple-100: #d8cbf7;
  --purple-200: #c6b2f3;
  --purple-300: #ab8eee;
  --purple-400: #9b79ea;
  --purple-500: #8257e5;
  --purple-600: #764fd0;
  --purple-700: #5c3ea3;
  --purple-800: #48307e;
  --purple-900: #372560;
  /* ORANGE */
  --orange-50: #ffefeb;
  --orange-100: #ffccc2;
  --orange-200: #ffb4a4;
  --orange-300: #ff927b;
  --orange-400: #ff7d61;
  --orange-500: #ff5c3a;
  --orange-600: #e85435;
  --orange-700: #b54129;
  --orange-800: #8c3320;
  --orange-900: #6b2718;
  /*YELLOW*/
  --yellow-50: #fff9ec;
  --yellow-100: #ffebc4;
  --yellow-200: #ffe2a7;
  --yellow-300: #ffd47f;
  --yellow-400: #ffcc66;
  --yellow-500: #ffbf40;
  --yellow-600: #e8ae3a;
  --yellow-700: #b5882d;
  --yellow-800: #8c6923;
  --yellow-900: #6b501b;
  /* GREEN */
  --green-50: #e6fbef;
  --green-100: #b1f1ce;
  --green-200: #8cebb6;
  --green-300: #57e295;
  --green-400: #36dc81;
  --green-500: #04d361;
  --green-600: #04c058;
  --green-700: #039645;
  --green-800: #039645;
  --green-900: #025929;

  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--gray-500);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-200);
  border-radius: 50px;
}

@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-50);
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline;

  overflow-y: scroll;

  animation: entering 0.7s ease-in-out;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;
}

.memory small {
  color: var(--gray-100);
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
}

.memory h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-50);
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem;
  color: var(--gray-100);
  line-height: 28px;
}

aside {
  grid-area: profile;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-right: 1px solid;
  border-image: linear-gradient(var(--gray-300), var(--gray-500)) 1;

  background-image: url("./assets/background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside img:nth-child(2) {
  width: 160;
  height: 160;
  border-radius: 50%;

  border: 4px solid transparent;
  background: linear-gradient(#e39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #e39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 2rem;
  text-align: center;
}

aside span {
  font-size: 0.75rem;
  color: var(--gray-200);
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
  }

  aside {
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow: visible;
    padding: 22px;
  }
}
